dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

Electron/*.js

test/Stencil Electron Starter-win32-x64/

test/

test2/Stencil Electron Starter-win32-x64/

test2/Stencil Electron Starter-darwin-x64/

test2/Stencil Electron Starter-mas-x64/

test2/Stencil Electron Starter-linux-x64/

test2/@edgeworkscreative-stencil-electron-app-starter-linux-ia32/
